* {
  margin: 0;
  padding: 0;
}

.title--h1 {
  font-size: var(--font-size-big);
  line-height: 67px;
}

.title--h2 {
  font-size: var(--font-size-med);
  line-height: 49px;
}

.title--h3 {
  font-size: var(--font-size-mx);
  line-height: 34px;
}

.title--h4 {
  font-size: var(--font-size-normal);
  line-height: 30px;
}

/* Header Fixed Navigation + Shadow JS*/
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row wrap;
  align-items: center;
  padding: var(--font-size-med) 0;
  background: var(--bg-color-primary);
}

.sticky {
  position: fixed;
  z-index: 10;
  top: 0;
  box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
}

.navbar__lang {
  cursor: pointer;
  margin-right: 1em;
  font-size: var(--font-size-small);
  line-height: var(--line-height-menu);
  border: none;
  text-transform: uppercase;
}

/* Buttons */
.bnt,
.bnt-small,
.bnt-mini {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid #ffb001;
}

.bnt {
  width: 386px;
  height: 95px;
  border-radius: 47.5px;
  box-shadow: 0px 34px 64px -10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 34px 64px -10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 34px 64px -10px rgba(0, 0, 0, 0.15);
}

.bnt h3 {
  color: var(--black-color);
}

.bnt h3 span {
  font-weight: normal;
  text-transform: lowercase;
}

.bnt-small,
.bnt-mini {
  width: 152px;
  border-radius: 28.5px;
  box-shadow: 0px 20px 59px -10px rgba(0, 0, 0, 0.15);
}

.bnt-small {
  height: 57px;
}

.bnt-mini {
  height: 50px;
}

/* Border box */
.border {
  border-radius: var(--border-radius-small);
  -webkit-border-radius: var(--border-radius-small);
  -moz-border-radius: var(--border-radius-small);
  -ms-border-radius: var(--border-radius-small);
  box-sizing: border-box;
}

.border--white {
  border: var(--border-big);
  border-radius: var(--border-radius-big);
  -webkit-border-radius: var(--border-radius-big);
  -moz-border-radius: var(--border-radius-big);
  -ms-border-radius: var(--border-radius-big);
  box-sizing: border-box;
}

/* Content */
.content {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

.content article {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
}

/* Content box grey */
.box {
  margin: 1.5em 0;
  background: var(--bg-color-box);
  border-radius: var(--border-radius-small);
  -webkit-border-radius: var(--border-radius-small);
  -moz-border-radius: var(--border-radius-small);
  -ms-border-radius: var(--border-radius-small);
  box-sizing: border-box;
}

.box input {
  padding: 1rem 0;
  width: 11.25em;
  text-align: center;
  background: var(--secondary-color);
  border: var(--border-input);
  border-radius: var(--border-radius-small);
  -webkit-border-radius: var(--border-radius-small);
  -moz-border-radius: var(--border-radius-small);
  -ms-border-radius: var(--border-radius-small);
  box-sizing: border-box;
}

.box input:focus {
  border: var(--border-input-focus);
  outline: none;
}

/* For mobile phones: RWD */
@media (max-width: 768px) {
  .title--h1 {
    font-size: var(--font-size-big-mobile);
    line-height: 42px;
  }
  .title--h2 {
    font-size: var(--font-size-med-mobile);
    line-height: 29px;
  }
  .title--h3 {
    font-size: var(--font-size-mx--mobile);
    line-height: 24px;
  }
  .title--h4 {
    font-size: var(--font-size-normal-mobile);
    line-height: 19px;
  }
  /* Boxs mobile phones: RWD */
  .border--white {
    border: var(--border-big-mobile);
    border-left: none;
    border-right: none;
  }
  .box {
    margin: 1em 0;
  }
  .box:last-child {
    margin-top: 0;
  }
  h4.white--color span {
    display: block;
    font-size: var(--font-size-val-mobile);
    padding: 1rem 0;
  }
  /* Button mobile phones: RWD */
  .bnt {
    width: 320px;
    height: 80px;
  }
  .bnt h3 {
    color: var(--black-color);
    line-height: 24px;
  }
  .bnt h3 span {
    font-weight: normal;
    font-size: var(--font-size-mx--mobile);
    line-height: 24px;
    text-transform: lowercase;
  }
}
